@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab|Lobster');
.main{
    font-family: 'Josefin Sans', sans-serif;
}

img {
    width:15%;
    height:10%;
}

.title {
    text-align: center;
}

h1 {
    font-size: 72px;
}

h3 {
    font-size: 20px;
}

img {
    margin: 0 auto;
    padding: 0 450px;
}

* {
    background-color: white;
}